*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.home-wrapper{
    background: linear-gradient(rgba(0 , 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/background.jpg) no-repeat center top;
    background-size: cover;
    color: white;
}
header{
    padding: 10px 0px;
}
header img {
    width: 200px;
}

header nav{
    float: right;
    margin-top: 10px;
}
header nav a{
color: white;
font-weight: bold;
text-decoration: none;
margin-left: 10px;
padding: 10px 15px;
}

header nav a.active{
    background-color: #fed136;
    border-radius: 3px;
}

#home{
    text-align: center;
    padding: 200px 0px 150px;
}

#home h1{
    font-size: 68px;
    font-weight: normal;
}

#home p{
    font-size:24px;
}

section{
    padding: 80px 0;

}

section h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;
}

.container{
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}

#home .logos{
    width: 40px;
    padding: 10px;


}

#home .facebook{
    width: 20px;
    padding: 10px;
}

#home #logos{
    display: inline-block;
    position: relative;


}

#services .caja{
display: inline-block;
text-align: center;
padding: 10px;
width: 33%;
}

#portfolio{
    background-color: whitesmoke;
}

#portfolio .caja{
    display: inline-block;
    text-align: center;
}


